h1 {
    font-family: cursive;
    color: darkred;
}

p {
    font-family: sans-serif;
    
}
ul{
    color: teal;
    font-family: sans-serif;
}
.Overmezelf {
    color: teal;
    font-family: Arial, Helvetica, sans-serif;
}
.Overschool {
    color: teal;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    color: royalblue;
    font-family:  cursive;
}