h1 {
    font-family: cursive;
    color: darkred;
}

p {
    font-family: sans-serif;
    
}
ul{
    color: teal;
    font-family: sans-serif;
}
.Overmezelf {
    color: teal;
    font-family: Arial, Helvetica, sans-serif;
}
.Overschool {
    color: teal;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    color: royalblue;
    font-family:  cursive;
}
.Overmijnfamilie{
    color: teal;
    font-family: Arial, Helvetica, sans-serif;

}
/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: rgb(212, 0, 255);
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: blue;
}
